$grid-background-color-dark: #0f0f0f;
$grid-background-color-light: #0f0f0f;

$grid-line-color-dark: #000;
$grid-line-color-light: #000;

$grid-width: 100px;
$timeline-events-no: 5;
$timeline-events-line-height: 8px;
$timeline-years-no: 8;
